<!doctype html>
<html>
  <head>
    <style> .p{text-align: center;
    border: 1px solid grey;
    width: 433px;
    margin: 0 auto;}
 </style>
    <title>File Upload</title>

  </head>
    <body>

    <div class = "p">
      <h1>File Upload</h1>
    <form method="POST" action="" enctype="multipart/form-data">
      <p><input type="file" name="file"></p>
      <p>
      <input type="submit" value="Submit" style="
    width: 90%;
    padding: 8px 16px;
    background: #000;
    color: #fff;
">
      </p>

    </form>
     </div>
        </body>
</html>
